main {
    width: inherit;
    height: 600px;
    padding: 10px;
    margin-top: 20px;
    /* border: 1px solid red; */
    position: relative;
}
#content01 {
    width: 440px;
    position: absolute;
    top: 100px;
    color: #405357;
    /* border: 1px solid blue; */
}
#content01 h2 {
    margin-bottom: 50px;
}
#content01 p:nth-of-type(1) {
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 30px;
}
#content01 p:nth-of-type(2) {
    line-height: 1.8em;
    text-align: justify;
}

#content02 {
    width: 410px;
    position: absolute;
    top: 180px;
    right: 20px;
    /* border: 1px solid blue; */
}
#content02 input {
    width: 380px;
    height: 30px;
    margin: 5px 0;
}
#content02 button {
    width: 100px;
    height: 30px;
    background: #405357;
    border: none;
    color: white;
    border-radius: 5px;
    float: right;
    margin: 5px 10px 0;
    cursor: pointer;
}
#content02 textarea {
    resize: none;
    width: 367px;
    padding: 15px;
}